#--------------------------------------------------------------------
# DOCKER COMPOSE VARIABLES
#--------------------------------------------------------------------

CONTAINER_NAME=onyx
RESTART=unless-stopped
BACKEND_PORT=8080

# Database
POSTGRES_HOST=host.docker.internal
POSTGRES_PORT=5432
POSTGRES_NAME=postgres_db
POSTGRES_USER=postgres_db
POSTGRES_PASSWORD=postgres_db

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = development/production/testing

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL = ''
# app_baseURL = ''
# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

database.default.hostname = ${POSTGRES_HOST:-postgres_db}
database.default.database = ${POSTGRES_NAME:-postgres_db}
database.default.username = ${POSTGRES_USER:-postgres_db}
database.default.password = ${POSTGRES_PASSWORD:-postgres_db}
database.default.DBDriver = Postgre
database.default.port = ${DB_PORT:-6001}

#--------------------------------------------------------------------
# ENCRYPTION
#--------------------------------------------------------------------

# encryption.key =

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath = null

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

# logger.threshold = 4
